/* style.css */
:root {
    --main-color: #443;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

/* section {
    padding: 20px;
} */

.heading {
    font-size: 6rem;
    text-transform: uppercase;
    color: #054f77;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: #054f77;
    background-color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover {
    color: #fff;
    background-color: #054f77;
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}


/* HERDER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    text-align: center; /* Alinhamento do texto */
    justify-content: space-between;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 20px; /* Espaçamento interno */
}

/* Estilo para os links */
header nav a {
    color: black; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    margin: 0 10px; /* Espaçamento horizontal entre os links */
    font-size: 18px; /* Tamanho da fonte */
    
}

header nav a:hover {
    color: #fc5404;
}

header .btn {
    margin-top: 0;
}

/* Estilo para o botão de menu */
#menu-btn {
    font-size: 3rem;
    color: white; /* Cor do ícone */
    cursor: pointer;
    display: none; /* Esconde o botão em telas maiores */
}


.home {
    min-height: 100vh;
    padding-top: 12rem;
    background: url(../image/banner_home.jpg) no-repeat; 
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .content {
    flex: 1 1 42rem;
}


/* CSS para o conteúdo */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h4, p, li { 
    padding: 0; 
    margin: 0 .8rem;
}


h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    color: #007bff;
    margin-bottom: 10px;
}

/* h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
} */

h4 {
    font-size: 18px;
    color: #666;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 10px;
    list-style-type: square;
}

ol {
    margin-bottom: 10px;
    list-style-type: upper-roman;
}

li {
    list-style-type: square;
    font-size: 16px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-style: dashed;
    border-color: darkblue;
    margin-bottom: 20px;
    background-color: white; 
}

th, td {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
}


@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 3rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 6rem;
    }

    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    header nav {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header nav .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header nav a {
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }

    .home {
        text-align: center;
    }

    .home .content h3 {
        font-size: 4rem;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .image img {
        height: auto;
        width: 100%;
    }
}